/* src/components/ui/animations.css */
@keyframes textGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-text-gradient {
    animation: textGradient 8s ease infinite;
  }
  
  .bg-300\% {
    background-size: 300% 300%;
  }